{%extends 'base.html'  %}

{% block content %}
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">SHOW DATES</h2>
      <p class="w3-opacity w3-center"><i>Remember to book your tickets!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">September <span class="w3-tag w3-red w3-margin-left">1</span></li>
        <li class="w3-padding">October <span class="w3-tag w3-red w3-margin-left">0</span></li>
        <li class="w3-padding">November <span class="w3-tag w3-red w3-margin-left">0</span></li>
          <li class="w3-padding">December <span class="w3-tag w3-red w3-margin-left">3</span></li>
      </ul>
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
            <img src="{{ url_for('static', filename='images/gigs/loughshore gig.jpg' )}}" alt="Loughshore"  style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Loughshore Hotel</b></p>
            <p class="w3-opacity">Saturday 23rd September 2017</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}