{%extends 'base.html'  %}

{% block content %}

       <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class ="Information">
                        <h1>This is the website for all things James Lynas. Watch this space for new videos, news updates and up to date show information.</h1>
        </div>
            </div>
                </div>
                    </div>

    <div class="responsive">
  <div class="gallery">
      <img src="static\images\home_page\BandPic1.JPG" width="300" height="200">
  </div>
</div>

       <div class="responsive">
  <div class="gallery">
      <img src="static\images\home_page\group_pic.JPG" width="300" height="200">
  </div>
</div>

          <div class="responsive">
  <div class="gallery">
      <img src="static\images\home_page\IMG_9227.JPG" width="300" height="200">
  </div>
</div>

{% endblock %}