{%extends 'base.html'  %}

{% block content %}


        <div class="responsive">
  <div class="gallery">
      <img src="static\images\meet_the_band\Alan_hall_meet.JPG" width="300" height="200">
      <div class = 'desc'>Alan Hall. When he isn't spending hours in front of the bathroom mirror perfecting the
      locks on his head, he is shredding the keys for the James Lynas Band. A very big country enthuiast and
      all round energetic guy. </div>
  </div>
</div>

            <div class="responsive">
  <div class="gallery">
      <img src="static\images\meet_the_band\Josh_meet.JPG" width="300" height="200">
      <div class = 'desc'>Josh McCullough. Never originally a country listener but now after being converted by James
          Lynas, is dedicated to giving out the best country beats possible. A love for all things music. If you hear
      suspicious minds come on, beware of a flying drumstick. </div>
  </div>
</div>


            <div class="responsive">
  <div class="gallery">
      <img src="static\images\meet_the_band\Lyndon_meet.JPG" width="300" height="200">
      <div class = 'desc'>Lyndon Dobbs. </div>
  </div>
</div>


            <div class="responsive">
  <div class="gallery">
      <img src="static\images\meet_the_band\Martin_meet.JPG" width="300" height="200">
      <div class = 'desc'>Martin Price.</div>
  </div>
</div>




{% endblock %}