{%extends 'base.html'  %}

{% block content %}

   <br>
        <div class="responsive">
  <div class="gallery">
      <div class = 'desc'>Alan Hall. When he isn't spending hours in front of the bathroom mirror perfecting the
      locks on his head, he is shredding the keys for the James Lynas Band. A very big country enthuiast and
      all round energetic guy. </div>
      <img src="static\images\meet_the_band\Alan_hall_meet.JPG" width="300" height="200">
  </div>
</div>

            <div class="responsive">
  <div class="gallery">
       <div class = 'desc'>Josh McCullough. Never originally a country listener but now after being converted by James
          Lynas, is dedicated to giving out the best country beats possible. A love for all things music. If you hear
      suspicious minds come on, beware of a flying drumstick. </div>
      <img src="static\images\meet_the_band\Josh_meet.JPG" width="300" height="200">
  </div>
</div>

            <div class="responsive">
  <div class="gallery">
      <div class = 'desc'>Lyndon Dobbs. Nothing will make your toes tap more than the solid bassline of Lyndon.
      Years of experience playing with James Lynas and a  wealth of musical knowledge make him an extremely
      formidable bass player! </div>
      <img src="static\images\meet_the_band\Lyndon_meet1.JPG" width="200" height="300" >
  </div>
</div>

            <div class="responsive">
  <div class="gallery">
      <div class = 'desc'>Martin Price. A country convert, coming from a proggy blues background, has adapted to the
      country way. Whether its sitting in the back making the music pretty, or being upfront hitting the sweetest
      guitar solo you have ever heard, Martin fills the role of guitarist perfectly.</div>
      <img src="static\images\meet_the_band\Martin_meet.jpg" width="300" height="300">
  </div>
</div>

{% endblock %}